* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#root {
    height: 100vh;
}

div {
    display: flex;
    flex-direction: column;
}

*:focus {
    outline: none;
}

ul {
    list-style-type: none;
}

body,
input,
button {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

